html, body, applet, object, iframe, input, h1, h2, h3, h4, h5, h6, p, blockquote, button, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  font-family:"Montserrat", sans-serif;
}

.gov-wrapper{
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto; 
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}

.main-header .menu-wrapper{
  display:flex;
}

.menu-wrapper{
  width: 100%;
  max-width: 965px;
  align-items: center;
  justify-content: flex-end;
}

.main-menu ul#menu-menu {
  display: flex;
}

.main-menu ul#menu-menu li{
  margin-right: 25px;
}

.main-menu ul#menu-menu li a{
  text-decoration: none;
  color:#1351b4;
  font-size: 14px;
}

a.login{
  color: #ffffff;
  text-decoration: none;
  background-color:#1451B4;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 25px;
  font-size: 15px;
}

#menu-trigger{
  cursor: pointer;
  font-size: 18px;
  color: #1C51B4;
}

#menu-trigger:hover{
  color:#1C51B4;
}

.general-menu-wrapper {
  display: none; 
  position: absolute;
  background-color: #ededed;
  z-index: 2;
  width: 100%;
  left: 0;
  border-top: 2px solid #ffcd07;
}

.general-menu-wrapper.active{
  display: block;
}

.col2-search form.search-form .search-field{
  font-size: 16px;
  letter-spacing: -0.25px;
}

.col2-search form.search-form .search-submit{
  border: 0;
  background: transparent url('../img/search.png')no-repeat center / contain;
  font-size: 17px;
  color: transparent;
  cursor: pointer;
}

.shortcuts{
  background:#fbfbfb;
  padding: 20px 0;
}

.sm-buttons-wrapper{
  display: flex;
  justify-content: space-between;
}

.sm-buttons-wrapper .see-more,
.shortcuts-wrapper .more-access,
.shortcuts-wrapper .top-rated{
  display: block;
  width: 100%;
  max-width: 48%;
}

.shortcuts-wrapper .more-access,
.shortcuts-wrapper .top-rated{
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 14%);
  background: #ffffff;
  padding: 25px 25px 0;
  box-sizing: border-box;
}

.shortcuts-wrapper .submenu{
  display: none;
}

.shortcuts-wrapper .submenu.active{
  display: block;
}

.row-social-media{
  display: flex;
  justify-content: center;
}

.row-social-media .medias{
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.row-social-media .medias a.media{
  font-size: 30px;
  color: #1351b4;
  padding: 5px 0;
}

.sm-buttons-wrapper .see-more{
  background: #ffffff;
  border:0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 6px -3px rgb(0 0 0 / 16%);
  font-size: 12px;
  font-weight: 600;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:1;
  cursor: pointer;
}

.sm-buttons-wrapper .see-more i{
  font-size: 16px;
  margin: 0 20px 2px 0;
}

.sm-buttons-wrapper .see-more i.fa-fire-flame-curved{
  color: #EF5E25;
}

.sm-buttons-wrapper .see-more i.fa-star{
  color:#FFBE2E;
}

.shortcuts-wrapper ul li{
  border-bottom: 1px solid #ccc;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.shortcuts-wrapper ul li:last-child{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}


.shortcuts-wrapper ul li a{
  font-size: 15px;
  color: #0C326F;
  font-weight: 500;
  text-decoration: none;
}

.shortcuts-wrapper{
  display: none;
  justify-content: space-between;
}

.shortcuts-wrapper.active{
  display:flex;
}



section.row-context {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 16px;
  align-items: center;
}

section.row-context a.description{
  color: #333333;
  font-size: 20px;
  text-decoration: none;
}

section.row-context a.description:hover{
 color: #1451B4; 
}

form.search-form {
  background: #EDEDED;
  padding: 15px 20px;
  border-radius: 5px;
}

input.search-field {
  background: transparent;
  border: 0;
  font-size: 16px;
  font-style: italic;
  color: #333333;
}

input.search-field::placeholder {
  color: #333333;
}

.sTrigger{
  display: none;
}

.bg-overlay{
  position: relative;
}

.bg-overlay::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
  background: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%);
}

#featured-post{
  padding: 25vw 7vw 5vw;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: block;
  text-decoration: none;
  margin-bottom: 40px;
}

#featured-post .title{
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3em;
  margin:0 0 10px;
  position: relative;
  z-index: 1;
}

#featured-post .excerpt{
  font-size: 22px;
  line-height: 1.35em;
  position: relative;
  z-index: 1;
}

.second-grid-post,
.third-grid-post{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
  
.second-grid-post .grid-post:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.second-grid-post .grid-post:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.second-grid-post .grid-post:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.second-grid-post .grid-post:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
.second-grid-post .grid-post:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
.second-grid-post .grid-post:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }


.second-grid-post .grid-post{
  text-decoration: none;
  color: #ffffff;
  background-size: cover;
  padding: 0 30px 30px 30px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.second-grid-post .category-post{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 10px;
  position: relative;
  z-index: 1;
  letter-spacing: 0.75px;
}

.second-grid-post .grid-post .title{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25em;
  position: relative;
  z-index: 1;
  margin-bottom: 12px;
}

.second-grid-post .date-post{
  position: relative;
  z-index: 1;
  color: #616161;
}
  
.third-grid-post .grid-post:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.third-grid-post .grid-post:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.third-grid-post .grid-post:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.third-grid-post .grid-post:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
.third-grid-post .grid-post:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
.third-grid-post .grid-post:nth-child(6) { 
  grid-area: 2 / 3 / 3 / 4;
  justify-content: center;
}



.third-grid-post .grid-post{
  text-decoration: none;
  color: #ffffff;
  background-size: cover;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.third-grid-post .category-post{
  text-transform: uppercase;
  color: #555555;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px;
}

.third-grid-post .grid-post .title{
  color: #0C326F;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45em;
  margin-bottom: 12px;
}

.third-grid-post .date-post{
  color: #555;
  margin-bottom: 30px;
  font-size: 15px;
  letter-spacing: 1px;
}

.third-grid-post .grid-post .btn{
  color: #0C326F;
  border: 1px solid #0C326F;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  max-width: 180px;
  padding: 16px 20px 15px;
  margin: 0 auto;
}

.third-grid-post .grid-post .btn:hover {
  background: #0c326f;
  color: #fff;
}

.widBanner1{
  margin-bottom: 50px;
}

.widBanner2{
  margin-bottom: 70px;
}

.institutional{
  text-align: center;
  line-height: 1.5em;
  background: #F8F8F8;
  padding: 70px 0 50px;
}

.institutional h2,
.channels h2{
  color: #0c326f;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
}

.institutional .inst_txt p{
  color: #555555;
}

.institutional .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
}

.institutional .cards .inst-card{
  width: 21%;
  background: #ffffff;
  margin: 0 0 30px;
  padding: 50px 10px;
  text-decoration: none;
  webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

.institutional .cards .inst-card .title,
.channels .cards .chanel-card .title{
  color: #0c326f;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
}

.channels{
  padding: 70px 0 50px;
}

.channels .subtitle {
  text-align: center;
  font-size: 24px;
  color: #555555;
}

.channels .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
}

.channels .cards .chanel-card .icon{
  margin-bottom:10px;
}

.channels .cards .chanel-card{
  width: 21%;
  background: #f8f8f8;
  margin: 0 30px 30px 0;
  padding: 50px 10px;
  text-decoration: none;
  webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  text-align: center;
}

.main-footer{
  background: #081E41;
  color: #ffffff;
  padding: 70px 0;
}

.main-footer .menu-categorias-gerais-container a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer .footer-logo{
  width: 165px;
  height: 60px;
  margin-bottom: 50px;
}

.main-footer .menu{
  display: flex;
  justify-content: space-between;
}

.main-footer .menu li{
  text-transform: uppercase;
  width: 16%;
  line-height: 1.2em;
}

.main-footer .menu li a{
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  display: block;
  margin-bottom: 16px;
}

.main-footer .menu li a:hover,
.main-footer .menu li a:active{
  color: #5992ed;
}

.main-footer .menu .sub-menu li{
  text-transform: initial;
  width: 100%;
  margin-bottom: 16px;
  line-height: 1.1em;
}

.main-footer .menu .sub-menu li a{
  font-size: 13px;
  font-weight: 400;
  min-height: initial;
  display: initial;
}
/* 
  MENU GERAL
*/

.nav-gov-categories{
  padding: 15vh 0;
}
.menu-categorias-gerais-container {
  display: flex;
  justify-content: space-between;
}

.menu-categorias-gerais-container a {
  color: #555555;
  text-decoration: none;
}

.menu-categorias-gerais-container .menu{
  display: flex;
  justify-content: space-between;
}

.menu-categorias-gerais-container .menu li{
  text-transform: uppercase;
  width: 16%;
  line-height: 1.2em;
}

.menu-categorias-gerais-container .menu li a{
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  display: block;
  margin-bottom: 16px;
}

.menu-categorias-gerais-container .menu li a:hover,
.menu-categorias-gerais-container .menu li a:active{
  color: #5992ed;
}

.menu-categorias-gerais-container .menu .sub-menu li{
  text-transform: initial;
  width: 100%;
  margin-bottom: 16px;
  line-height: 1.1em;
}

.menu-categorias-gerais-container .menu .sub-menu li a{
  font-size: 13px;
  font-weight: 400;
  min-height: initial;
  display: initial;
}

.menu-menu-container .trigger{
  display: none;
}

@media(max-width:980px){

  section.row-context{
    flex-direction: column;
    padding: 20px 40px 16px;
    position: relative;
  }

  section.row-context a.description{
    font-size: 18px;
    line-height: 1.12em;
  }

  .col1-nav{
    width: 100%;
  }

  .col2-search{
    position: absolute;
    width: 86%;
    display: flex;
    justify-content: flex-end;
    right: 6%;
    top: 20%;
  }

  .col2-search.active{
    background: #EDEDED;
  }

  .col2-search form.search-form .search-field,
  .col2-search form.search-form .search-submit{
    display: none;
  }

  .col2-search.active form.search-form .search-field{
    display: inline-block;
  }

  .col2-search.active form.search-form .search-field{
    width: 95%;
    padding: 10px 5px;
  }

  form.search-form {
    padding: 0 15px;
    background: #ffffff;
  }

  .col2-search.active form.search-form{
    background: #EDEDED;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .sTrigger{
    display: inline-block;
    border: 0;
    background: transparent url('../img/search.png')no-repeat center / contain;
    font-size: 17px;
    color: transparent;
    width: 24px;
    height: 24px;
  }

  .col2-search.active .sTrigger{
    background: transparent url('../img/close.png')no-repeat center / contain;
  }

  

  .main-menu ul#menu-menu {
    width: 140px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-menu ul#menu-menu li a{
    font-size: 13px;
  }

  .main-menu ul#menu-menu::before{
    content: "Acesso rápido";
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #555555;
  }
  
  .main-menu ul#menu-menu li{
    margin: 10px 0 0 0;
  }

  .menu-menu-container{
    position: absolute;
    background: #ffffff;
    right: 23%;
    padding: 20px;
    box-shadow: 0 2px 5px -1px rgb(0 0 0 / 25%);
    z-index: 10;
  }

  .main-menu .trigger{
    content: "";
    width: 35px;
    height: 35px;
    display: inline-block;
    background: url('../img/mobile-menu-points.png')no-repeat center / contain;
    margin-right: 25px;
  }

  .menu-menu-container{
    display: none;
  }

  .menu-menu-container.active{
    display: flex;
  }

  #featured-post .title{
    font-size: 24px;
  }

  #featured-post .excerpt{
    font-size: 18px;
  }

.second-grid-post,
.third-grid-post{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  margin-bottom: 50px;
}
  
.second-grid-post .grid-post:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.second-grid-post .grid-post:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.second-grid-post .grid-post:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
.second-grid-post .grid-post:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
.second-grid-post .grid-post:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
.second-grid-post .grid-post:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }

.second-grid-post .grid-post{
  box-sizing: border-box;
}

}

@media(max-width:500px){

  .main-header{
    padding: 16px 10px;
  }
  
  section.row-context{
    padding: 20px 13px 16px;
  }

  img.custom-logo {
    width: 100%;
    height: auto;
  }

  section.row-context a.description {
    font-size: 16px;
    line-height: 1.12em;
    max-width: 215px;
}

  .main-menu .trigger{
    margin-right: 0;
  }
  
  a.login{
    font-weight: 400;
    padding: 10px 12px;
    font-size: 14px;
  }

  .col1-nav {
    display: flex;
    align-items: center;
  }

  #menu-trigger{
    font-size: 23px;
    margin-right: 8px;
  }

  .col2-search{
    top: 34%;
    width: 70%;
  }

  .col2-search.active{
    width: 95vw;
    right: initial;
  }

  form.search-form{
    padding: 0px 10px;
  }

  .sm-buttons-wrapper{
    flex-direction: column;
  }

  .sm-buttons-wrapper .see-more, .shortcuts-wrapper .more-access, .shortcuts-wrapper .top-rated{
    max-width: 100%;
  }

  .sm-buttons-wrapper .see-more:nth-child(1){
    display: none;
  }

  .shortcuts-wrapper{
    flex-direction: column;
  }

  .shortcuts-wrapper ul li{
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .shortcuts-wrapper ul li:last-child{
    padding-bottom: 8px;
  }

  .shortcuts-wrapper ul li a{
    font-size: 13px;
  }

  .shortcuts-wrapper .top-rated{
    padding: 8px 25px 0;
    box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 10%);
  }

  .shortcuts-wrapper ul li:last-child{
    border-bottom: 1px solid #ccc;
  }

  #featured-post .title{
    font-size: 20px;
  }

  #featured-post .excerpt{
    font-size: 16px;
  }

  .gov-wrapper{
    padding: 0 10px;
  }

}